<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/Blog/css/css.css">
    <title>{% block title %}{% endblock title%}</title>
</head>
<body>
    <section>
        <header>
        </header>
        <aside>
            <h1 class="logo"> Simple-Blog</h1>
            {% block aside%}
            {% endblock aside %}
        </aside>
        <article>
            {% block content %}

            {% endblock content %}
        </article>
        <footer>ChamsterCorporation</footer>
    </section>
</body>
</html>