<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/Blog/css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title%}</title>
</head>
<body>
    <section>
        <header>
            <h1 class="logo"><a href="{% url 'Blog:index' %}" class="nav_link">Simple-Blog</a></h1>
        </header>
        <aside>
            <nav>
                <ul class="nav">
                    <li><a href="">Home</a></li>
                    <li><a href="">All blogs</a></li>
                </ul>

                <ul class="nav_2">
                    {% if user.is_authenticated %}
                        <li>user: {{ user.username }}</li>
                        <li><a href="{% url 'users:logout' %}">log out</a></li>
                    {% else %}
                        <li><a href="{% url 'users:register' %}">Register</a></li>
                        <li><a href="{% url 'users:login' %}">login</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block aside%}
            {% endblock aside %}
        </aside>
        <article>
            {% block content %}

            {% endblock content %}
        </article>
        <footer>ChamsterCorporation</footer>
    </section>
</body>
</html>