{% extends "Blog/base.html" %}
{% block content%}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos, similique? A, distinctio dolore eveniet fugiat harum libero molestiae natus provident quae quaerat! Aperiam, at atque beatae delectus distinctio dolor doloribus eligendi esse illo itaque, laborum nam nihil non omnis placeat porro quaerat quasi quod sit unde veritatis vero, voluptate! A amet autem consectetur consequuntur debitis, ex expedita libero odit, optio sit, soluta temporibus unde veritatis. Consequuntur est optio tenetur?
{% endblock content %}