$main_color_1:#dbccee;
$main_color_2:#303238;
$padding_for: 12px;
$border: 1px solid #303238 ;
// $box-shadow: 0 0 5px $main_color_2;
*{margin: 0px; padding: 0px;}

body, html {
    height: 100%;
    border-collapse: collapse;
}

.logo{
    text-align: center;
    margin-bottom: 25%;
    font-size: large;
}

section {
    display: grid;
    grid-template-areas: "nav header" "nav article " "nav footer";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 5% 1fr 7%;
    margin: 0;
    height: 100%;
}
    
header {
    grid-area: header;
    background: $main_color_1;
    padding: $padding_for;
    border-bottom: $border;
    // box-shadow: $box-shadow;
    font-size: 30px;
}
    
article {
    grid-area: article;
    background: $main_color_1;
    padding: 38px;
    // box-shadow: $box-shadow;
}

.greet{
    border: $border;
    text-align: center;
}
    
aside {
    grid-area: nav;
    background: $main_color_1;
    padding: $padding_for;
    border-right: $border
    // box-shadow: $box-shadow;
}
footer {
    grid-area: footer;
    background: $main_color_1;
    padding: $padding_for;
    border-top: $border;
    text-align: center;
    // box-shadow: $box-shadow;
}

.nav_post{
    list-style-type: none;
    text-align: center;
    font-size: 28px;
}

.nav_link{
    text-decoration: none;
    display: block;
}
.nav_link:visited{

    color: grey;
}
li.nav{
    @color == grey  
}
h3{
    text-align: center;
    margin-bottom: 19px;
}

.flex{
    display: flex;
}